{% extends 'base.html' %}


{% block content %}

<div class="col">
    <h1>{{ message }}</h1>
    <ul class="list-group">
        <!--Esto es un comentario HTML-->
        {#Esto es un comentario Django#}
        {% for product in products %}
            <li class="list-group-item">
                {{product.title}}
                    {% if product.stock %}
                    <span class="text-success">Disponible</span>
                    {% else %}
                    <span class="text-danger"> No disponible</span>
                    {% endif%}
            </li>
        {% endfor %}
    </ul>
</div>
    
{% endblock content %}
    