{% url 'login' as login %}
{% url 'register' as register %}
{% url 'logout' as logout %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="{% url 'index' %}" class="navbar-brand">Pernalete Store</a>

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item {% if request.path == login %}active{% endif %}">
                <a href="{{ login }}" class="nav-link">
                    <span class="fas fa-user"></span>
                    Login</a>
            </li>
            <li class="navbar-item {% if request.path == register %}active{% endif %}"">
                <a href="{{ register }}" class="nav-link">
                    <span class="fas fa-sign-in-alt"></span>
                    Registro</a>
            </li>
            <li class="navbar-item {% if request.path == logout %}active{% endif %}"">
                <a href=" {{ logout }} " class="nav-link">
                    <span class="fas fa-sign-out-alt"></span>
                    Loguot</a>
            </li>
        </ul>
    </div>

</nav>